<a class="px-4 py-3 mt-2 ml-5 text-lg text-white bg-gray-800 rounded-full sm:mt-0 hover:text-white focus:text-white hover:bg-gray-600" href="#"><span class="badge mb-3 bg-red-800 rounded-full px-2 py-1 text-center object-right-top text-white text-sm mr-1">24</span>Unread messages</a>

<label class="inline-flex items-center m-5">
  <input type="checkbox" class="form-checkbox h-4 w-4 text-gray-600" checked (click)=filter($event)><span class="ml-2 text-gray-700">Read/Unread message</span>
</label>

<div class="flex ">
  <div *ngFor="let message of messages" class="max-w-md py-4 px-8 bg-gray-800 shadow-lg rounded-lg my-20 mr-5 ml-5">
    <div class="flex justify-center md:justify-end -mt-16">
      <img class="w-20 h-20 object-cover rounded-full border-2 border-indigo-500" src="https://images.unsplash.com/photo-1499714608240-22fc6ad53fb2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80">
    </div>
    <div>
      <h2 class="text-white text-3xl font-semibold">Object: {{ message.subject }}</h2>
      <p class="mt-2 text-gray-400 italic">To {{ message.to }}</p>
      <p class="mt-2 text-gray-200">{{ message.body }}</p>
    </div>
    <div class="flex justify-end mt-4">
      <a href="#" class="text-xl font-medium text-indigo-500">{{ message.from }}</a>
    </div>
  </div>
</div>



<!-- <p-card *ngFor="let message of messages" header="Object: {{ message.subject }}" subheader="From {{ message.from }} to {{ message.to }}" [style]="{width: '360px', 'margin': '2em'}" styleClass="p-card-shadow">
  <ng-template pTemplate="header">

  </ng-template>
  <p>{{ message.body }}</p>
  <ng-template pTemplate="footer">
      <p-button label="Send a message" icon="pi pi-send"></p-button>
      <p-button label="Delete" icon="pi pi-times" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}"></p-button>
  </ng-template>
</p-card> -->
