<nav class="bg-gray-800 shadow dark:bg-gray-800">
  <div class="container flex items-center justify-center p-6 mx-auto text-gray-300 capitalize dark:text-gray-300">
      <a class="text-white dark:text-gray-200 border-b-2 border-blue-500 mx-1.5 sm:mx-6" routerLink="">Dashboard</a>

      <a class="border-b-2 border-transparent hover:text-white dark:hover:text-gray-200 hover:border-blue-500 mx-1.5 sm:mx-6" routerLink="/inbox">Inbox</a>

      <a class="border-b-2 border-transparent hover:text-white dark:hover:text-gray-200 hover:border-blue-500 mx-1.5 sm:mx-6"routerLink="/create-message">Send a message</a>
  </div>
</nav>
