
<div class="flex h-screen items-center justify-center mb-32">

  <div class="grid bg-gray-800 rounded-lg shadow-xl w-11/12 md:w-9/12 lg:w-1/3">
    <div class="flex justify-center py-4">
      <div class="flex bg-purple-200 rounded-full md:p-4 p-2 border-2 border-indigo-300">
        <svg class="w-8 h-8 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 7l-8-4-8 4m16 0l-8 4m8-4v10l-8 4m0-10L4 7m8 4v10M4 7v10l8 4"></path></svg>
      </div>
    </div>

    <div class="flex justify-center">
      <div class="flex">
        <h1 class="text-gray-100 font-bold md:text-2xl text-xl">Send a message</h1>
      </div>
    </div>

    <div class="grid grid-cols-1 mt-5 mx-7">
      <label class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold">Receiver</label>
      <input [(ngModel)]="message.to" name="to" class="py-2 px-3 bg-gray-100 rounded-lg border-2 border-indigo-300 mt-1 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent" type="text" placeholder="Receiver" />
    </div>
    <div class="grid grid-cols-1 mt-5 mx-7">
      <label class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold">Object</label>
      <input [(ngModel)]="message.subject" name="subject" class="py-2 px-3 rounded-lg border-2 border-indigo-300 mt-1 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent" type="text" placeholder="subject" />
    </div>
    <div class="grid grid-cols-1 mt-5 mx-7">
      <label class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold">Body</label>
      <input [(ngModel)]="message.body" name="body" class="py-2 px-3 rounded-lg border-2 border-indigo-300 mt-1 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent" type="text" placeholder="Body" />
    </div>




    <div class='flex items-center justify-center  md:gap-8 gap-4 pt-5 pb-5'>
      <button class='w-auto bg-gray-500 hover:bg-gray-900 rounded-lg shadow-xl font-medium text-white px-4 py-2'>Clear</button>
      <button class='w-auto bg-indigo-500 hover:bg-indigo-700 rounded-lg shadow-xl font-medium text-white px-4 py-2' (click)="send()" >Send</button>
    </div>

  </div>
</div>
